*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#fff;
}

.container2{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
}

.container3{
    display: none;
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 36%;
    font-size: 18px;
    font-style: italic;
}
.bg-dark{
  background: darkgray;
}
textarea{
    box-shadow: 6px 6px 10px 2px rgb(153, 153, 153);
    border-radius: 3px;
    border: none;
    outline: none;
    width: 350px;
    height: 375px;
    padding: 35px 25px 25px 25px;
    color: darkgray;
    font-weight: 500;
}

.container3 svg{
    color: darkgray;
}

#check-icon{
    position: absolute;
    right: 11%;
    top: 5%;
}
#check-icon:hover{
    width: 22px;
    height: 22px;
    color: rgb(1, 145, 1);
}

#cross-icon{
    position: absolute;
    right: 3%;
    top: 5%;
}

#cross-icon:hover{
    width: 22px;
    height: 22px;
    color: red;
}

.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
}


h2°{
    color:white ;
   
   
}
.tile-icon {
    align-items: center;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    height: 50px;
    justify-content: center;
    margin-top: 16px;
    width: 50px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
}



  